:root {
    --md-primary-fg-color: #f85e39;
    --md-primary-fg-color--light: #ff9478;
    --md-primary-fg-color--dark: #d14729;
}

body,
.md-typeset {
    font-family: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
